[Desktop Entry]
Name=Njam
Comment=Fast paced multiplayer pacman clone
Comment[pl]=Sieciowy klon pacmana o szybkim tempie
Icon=njam
Exec=njam
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
